.charts {
    display: flex;
    margin: 1rem;
    padding: 0.3rem;
    gap: 10px;
}

.heading {
    color: var(--font-color);
}

@media(max-width:600px) {
    .charts{
        flex-direction: column;
    }
}
